.App {
  text-align: center;
}

.square {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    font-size: 30px;
}

.Row1 {
    display: inline-block;
    margin: auto;
    border-collapse:separate;
}



